@page "/requests"
@inject IRequestService requestService
@attribute [Authorize(Roles = RoleInfo.IsVerified)]

<link href="/css/Client/dist/request.css" rel="stylesheet" />
<div class="page request-page">
    <PageHeader Title="İstekler" />
    @if (IsLoading)
    {
        <Loading /> }
    else
    {
        <div class="section-one">
            <a> <i class="fas fa-clipboard-list"></i></a>
            <a href="/requestadd"> <i class="fas fa-plus-square"></i></a>
        </div>
        <div class="accordion" id="accordion">
            <ul>
                @foreach (var item in RequestDto.DepositRequestDtos)
                {
                    <RequestRow OnClick="ClickHandler" Index="@(IdCounter++)" Id="@item.Id" Verify="@item.Verify" Type="RequestType.Deposit" Description="@item.Description" Amount="@item.Amount.ToString()" Date="@item.CreatedTime" />
                }
                @foreach (var item in RequestDto.ProductDepositRequestDtos)
                {
                    <RequestRow OnClick="ClickHandler" Index="@(IdCounter++)" Id="@item.Id" Verify="@item.Verify" Type="RequestType.Product" ProductName="@item.Product.Name" Description="@item.Description" Amount="@item.Amount.ToString()" Date="@item.CreatedTime" />
                }
                @foreach (var item in RequestDto.NewTypeRequestDtos)
                {
                    <RequestRow OnClick="ClickHandler" Index="@(IdCounter++)" Id="@item.Id" Verify="@item.Verify" Type="RequestType.NewType" Description="@item.Description" Amount="@item.Name" Date="@item.CreatedTime" />
                }
            </ul>
        </div>}

</div>


@code{
    public bool IsLoading { get; set; } = true;
    public RequestDto RequestDto { get; set; }

    public int IdCounter { get; set; } = 0;

    protected async Task ClickHandler((RequestType Type, Guid Id) data)
    {
        IsLoading = true;
        await requestService.DeleteRequestAsync(data.Type, data.Id);
        await InitAsync();
    }

    protected async Task InitAsync()
    {
        var requestResponse = await requestService.GetRequestsAsync();
        if (requestResponse.IsSuccessful)
            RequestDto = requestResponse.Data;
        IsLoading = false;
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        await InitAsync();
    }
}